<%= render "layouts/banner"%>
<h1><%= @list.name %></h1>

<h2>All Bookmarks</h2>

<%= render "layouts/cardcategory"%>

<button><%=link_to "add bookmark",  new_list_bookmark_path(@list) %></button>
<button><%=link_to "back to list",  root_path %></button>
