<div class="card-product">
  <% @list.bookmarks.each do |bookmark| %>
      <img src="<%=bookmark.movie.poster_url %>">
    <div class="card-product-infos">
      <h2><%= bookmark.movie.title %></h2>
      <p><%= bookmark.movie.overview %></p>
        <p><%= bookmark.comment %></p>
        <%= link_to 'Remove', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
